/*--------------------------------------------------------------
# GPL KIT PLUGINS ADMIN PAGE
--------------------------------------------------------------*/
body.toplevel_page_gplkit-plugin-manager {
    background: #f4f6f8;
}

.gk-install {
     display: inline-block;
     padding: 5px 10px;
     margin-left: 1.23em;
     border-radius: 4px;
     color: #7D7979;
     clear: both;
     margin-bottom: 18px;
}

.gk-install span {
    font-weight: bold;
}

.gk-install.ischecked {
    background-color: #3AC763 !important;
    color: #fff !important;
}

#install-checkbox button[type="checkbox"] {
    margin-left: 16px!important;
}

.license-active {
    margin-right: 10px;
    padding: 5px 15px;
    border-radius: 4px;
    vertical-align: middle;
    color: #33601C;
    background: #69D033;
    display: inline-block;
}

.license-status {
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.42);
    margin-right: 10px;
    padding: 5px 15px;
    border-radius: 4px;
    vertical-align: middle;
    color: #998417;
    background: #EDD245;
    display: inline-block;
}

.gk-plugin-wrapper {
    background: #fff;
    min-height: 250px;
    position: relative;
    overflow: hidden;
}

a.gk-plugin-link {
    text-decoration: none !important;
}

.gk-plugin-inner {
    position: relative;
    box-sizing: border-box;
    padding: 0px 14px;
}

span.gk-plugin-title {
    color: #2e4453;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
    font-weight: 500;
    display: block;
    padding: 14px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.gk-plugin-inner p {
    color: #32373c;
    word-wrap: break-word;
}

.gk-plugin-wrapper img {
    position: absolute;
    bottom: 9px;
    right: 10px;
    max-width: 46px;
    max-height: 41px;
    z-index: 10;
}

.gk-plugin-wrapper:hover {
    background: #fff;
}

.gkitcontainer {
    overflow: hidden;
    list-style: none;
    clear: both;
    width: 101.6%
}

.gkititem {
    box-sizing: border-box;
    float: left;
    margin: 0 1.6% 1.6% 0!important;
    padding: 0;
    vertical-align: top;
    width: 23.4%;
    border: 1px solid #E2E2E2;
}

.gk-plugin-install {
    float: right;
    margin: -18px 0 0 0px;
}

.gk-plugin-inner cite {
    display: none;
}

.gk-plugin-meta {
    position: absolute;
    bottom: 0;
    padding: 12px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.gk-plugin-meta span {
    color: #777a7b;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.gplkit-nav {
    padding: 8px 25px;
    background: #fff;
    border: 1px solid #E2E2E2;
}

#gplkit-notice {
    color: #222;
    font-size: 1.1em;
    padding: 7px 22px;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px solid #E3E3E3;
    display: inline-block;
    margin-right: 15px;
}

.woocommerce_page_gplkit_plugin_manager_activation .main {
    width: 100%;
}

.gk-section a.filter {
    display: block;
    clear: both;
    padding-bottom: 13px;
    margin: 0px;
}

.gk-section a.filter:hover {
    cursor: pointer;
    color: #004769;
}

.gk-section a.filter:last-child {
    padding-bottom: 0px;
}

.gk-section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

button#install.install-theme-preview:disabled {
    color: #5f5f5f!important;   
}


.gk-notice-plugin-installed {
    padding: 4px 12px;
    box-shadow: none;
    border-left: 4px solid #46b450;
    background-color: #ecf7ed;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.gk-notice-plugin-installed p:before {
    color: #79ba49;
    content: "\f147";
    display: inline-block;
    font: 400 20px/1 dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    margin-right: 3px;
}


.gk-notice-plugin-notice {
    padding: 4px 12px;
    box-shadow: none;
    border-left: 4px solid #ffb900;
    background-color: #fff8e5;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.gk-notice-plugin-notice p:before {
    color: #f56e28;
    margin-right: 6px;
    content: "\f348";
    display: inline-block;
    font: 400 20px/1 dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
}

.gk-notice-plugin-notice-error {
    padding: 4px 12px;
    box-shadow: none;
    border-left: 4px solid #dc3232;
    background-color: #ffe5e5;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.gk-notice-plugin-notice-error p:before {
    color: #dc3232;
    margin-right: 6px;
    content: "\f348";
    display: inline-block;
    font: 400 20px/1 dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
}


 
/*--------------------------------------------------------------
# GPL KIT THEMES ADMIN PAGE
--------------------------------------------------------------*/
body.gpl-kit_page_gplkit-theme-manager {
    background: #f4f6f8;
}

.gk-theme-wrapper {
     position: relative;
}

.theme-block.gkititem {
    padding: 0;
    vertical-align: top;
    cursor: pointer;
    float: left;
    position: relative;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
    box-sizing: border-box;
    margin-top: 4px !important;
}

.theme-block.gkititem:focus, .theme-block.gkititem:hover {
    cursor: pointer;
}

.theme-block.gkititem:focus .gk-theme-thumbnail, .theme-block.gkititem:hover .gk-theme-thumbnail {
    opacity: 0.6;
}

.theme-block:focus .gk-theme-actions, .theme-block:hover .gk-theme-actions {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;   
}

.theme-block.gk-focus .gk-theme-actions{
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    opacity: 1 !important; 
}

.gk-theme-thumbnail {
    display: block;
    overflow: hidden;
    position: relative;
    transition: opacity .2s ease-in-out;
    height: 100%;
    width: 100%;
    min-height: 268px;
    background-size: cover;
    background-position: center;
}

.gk-theme-actions {
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     opacity: 0;
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     right: 0;
     padding: 10px 15px;
     box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
     transition: opacity .1s ease-in-out;
     height: auto;
     background: rgba(244,244,244,.7);
     border-left: 1px solid rgba(0,0,0,.05);
}

.gk-theme-meta {
     position: relative;
     height: 18px;
     margin: 0;
     padding: 15px;
     box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     background: rgba(255,255,255,.65);
}

.gk-theme-title {
     color: #2e4453;
     font-size: 14px;
     font-weight: 600;
     display: inline;
}

.gk-notice-installed {
    padding: 1px 12px;
    box-shadow: none;
    border-left: 4px solid #46b450;
    background-color: #ecf7ed;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.gk-notice-installed p:before {
    color: #79ba49;
    content: "\f147";
    display: inline-block;
    font: 400 20px/1 dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    margin-right: 3px;
}


.gk-notice-theme-notice {
    padding: 1px 12px;
    box-shadow: none;
    border-left: 4px solid #ffb900;
    background-color: #fff8e5;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.gk-notice-theme-notice p:before {
    color: #f56e28;
    margin-right: 6px;
    content: "\f348";
    display: inline-block;
    font: 400 20px/1 dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
}

.gk-notice-theme-error-notice {
    padding: 1px 12px;
    box-shadow: none;
    border-left: 4px solid #dc3232;
    background-color: #ffe5e5;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.gk-notice-theme-error-notice p:before {
    color: #dc3232;
    margin-right: 6px;
    content: "\f348";
    display: inline-block;
    font: 400 20px/1 dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
}

.gk-hide-button {
    display: none;
}


/*--------------------------------------------------------------
# GPL KIT GLOBAL
--------------------------------------------------------------*/
.mixitup-page-list {
    display: inline;
    float: right;
}

.mixitup-page-stats {
    display: inline;
    float: right;
    margin-right: 16px;
}

.filter {
    margin-left: 0px;
    margin-right: 0px;
}

.toplevel_page_gplkit-plugin-manager .subsubsub,
.gpl-kit_page_gplkit-theme-manager .subsubsub {
    margin-bottom: 10px;
}

.toplevel_page_gplkit-plugin-manager .subsubsub a:hover,
.gpl-kit_page_gplkit-theme-manager .subsubsub a:hover {
    cursor: pointer;
}

#search_themes {
    padding: 10px;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon.is-green .ribbon__title {
    background-color: #4ab866;
}

.ribbon .ribbon__title {
    font-size: 10px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #00aadc;
    position: absolute;
    top: 19px;
    right: -21px;
    text-transform: uppercase;
}

.ribbon.is-green .ribbon__title::before {
    border-left-color: #2c703d;
    border-top-color: #2c703d;
}

.ribbon .ribbon__title::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #005082;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #005082;
}

.ribbon.is-green .ribbon__title::after {
    border-right-color: #2c703d;
    border-top-color: #2c703d;
}

.ribbon .ribbon__title::after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #005082;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #005082;
}

.gk-theme-wrapper.hide-ribbon .ribbon {
    display: none;
}

.beta-tag {
    font-size: 12px;
    font-weight: 700;
    background-color: #3f4348;
    padding: 3px 10px;
    border-radius: 3px;
    color: #ffffff;
    position: relative;
    top: -3px;
    left: 9px;
}

@media only screen and (min-width: 1650px) {
    .gkititem {
         width: 18.4%;
    }
}

@media only screen and (max-width: 1300px) {
    .gkititem {
         width: 31.6%;
    }
}

@media only screen and (max-width: 1050px) {
    .gkititem {
         width: 48.4%;
    }
}

@media only screen and (max-width: 600px) {
    .gkititem {
         width: 100%;
    }
    .gkitcontainer {
        width: 100%;
    }
}